<a href="https://colab.research.google.com/github/rbdus0715/kaggle/blob/main/study/pandas/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd

## **1. dataframe**

- csv 파일 읽기
- 간단하게 살피기
    - df.head()
    - df.info()
    - df.shape
    - df.describe() : 데이터에 대한 여러 정보 제공
    - value_counts() : 데이터 분포표 확인에 도움
- dataframe 객체에 대한 자세한 내용은 [링크](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) 확인

In [40]:
t_df = pd.read_csv('train.csv')
t_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
print(t_df.shape)
t_df.info()

(891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [42]:
t_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [43]:
value_counts = t_df['Pclass'].value_counts()
print(value_counts)

3    491
1    216
2    184
Name: Pclass, dtype: int64

## **2. dataframe <-> ndarray, list, dict 변환**

In [44]:
import numpy as np

배열, 딕셔너리 --> 데이터프레임

In [45]:
# 2행 3열의 list, ndarray를 dataframe으로 변환하기
col_name = ['col1', 'col2', 'col2']

list = [
    [1, 2, 3],
    [11, 12, 13]
]

array = np.array(list)

df_list = pd.DataFrame(list, columns=col_name)
df_ndarray = pd.DataFrame(array, columns=col_name)

print(df_list, '\n')
print(df_ndarray)

   col1  col2  col2
0     1     2     3
1    11    12    13

   col1  col2  col2
0     1     2     3
1    11    12    13

In [46]:
# 딕셔너리를 데이터프레임으로 변환하기
dict = {'col1':[1, 11], 'col2':[2, 22], 'col3':[3, 33]}
df = pd.DataFrame(dict)
print(df)

   col1  col2  col3
0     1     2     3
1    11    22    33

데이터프레임 --> 배열, 딕셔너리

In [47]:
# ndarray로 변환하기
arr = df.values
print(arr, '\n')

# 리스트로 변환하기
list_ = df.values.tolist()
print(list_, '\n')

# 딕셔너리로 변환하기
dict_ = df.to_dict('list')
print(dict_)

[[ 1  2  3]
 [11 22 33]]

[[1, 2, 3], [11, 22, 33]]

{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

## **3. 칼럼 데이터 생성, 수정, 삭제**

생성, 수정

In [48]:
t_df['Age_0'] = 0
t_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0

In [49]:
t_df['Age_by_10'] = t_df['Age'] * 10
t_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,220.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,380.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,260.0

삭제 drop()
- drop([원하는 칼럼 혹은 인덱스], axis, inplace=False)

In [50]:
# Age_0 칼럼 삭제하기
t_df_drop = t_df.drop('Age_0', axis=1)
t_df_drop.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_by_10
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,220.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,380.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,260.0

In [51]:
# 원본 데이터까지 참조하여 삭제하기
drop_result = t_df.drop(['Age_0', 'Age_by_10'], axis=1, inplace=True)
print(drop_result) # 반환값은 없음
t_df.head(3) # 원본 데이터에서 삭제

None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## **4. index 객체**
- dataFrame.index, Series.index를 통해 index 객체를 추출 가능하다.
- 인덱스를 새롭게 할당하기 : reset_index()

In [52]:
indexes = t_df.index
print(indexes)
print(indexes.values)

RangeIndex(start=0, stop=891, step=1)
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890]

In [53]:
# 인덱스가 연속된 int 숫자형 데이터가 아닐 경우 reset_index()를 통해 다시 index를 만든다.
value_counts = t_df['Pclass'].value_counts()
print(value_counts, '\n')

new_value_counts = value_counts.reset_index(inplace=False)
print(new_value_counts)

3    491
1    216
2    184
Name: Pclass, dtype: int64

   index  Pclass
0      3     491
1      1     216
2      2     184

## **5. 데이터 셀렉션 & 필터링**

**(1) [ ] 연산자**
- DataFrame의 [ ] 연산자는 numpy에서의 [ ] 연산자와 다르다.
- DataFrame에서 [ ] 안에는 '칼럼이름' 또는 '인덱스로 변환 가능한 표현식' 만 들어올 수 있다.

In [54]:
# 1. 칼럼이름
select1 = t_df[['Survived', 'Pclass']].head(3)
print(select1)

# 2. 인덱스 형태로 변환 가능한 표현식
t_df[0:2]

   Survived  Pclass
0         0       3
1         1       1
2         1       3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [55]:
# 3. 불리언 인덱싱
t_df[t_df['Pclass']==3].head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S

**(2) iloc[ ] 연산자**

In [56]:
data = {
    'Name':['cho', 'kim', 'lee', 'jung'],
    'Year':[2011, 2016, 2015, 2015],
    'Gender':['M', 'F', 'M', 'M']
}
data_df = pd.DataFrame(data)
data_df

   Name  Year Gender
0   cho  2011      M
1   kim  2016      F
2   lee  2015      M
3  jung  2015      M

In [57]:
# 위치 기반 인덱싱
# iloc[]는 슬라이싱과 팬시 인덱싱 제공
# 불리언 인덱싱은 제공하지 않음
data_df.iloc[0, 0]

'cho'

In [58]:
# 명칭 기반 인덱싱
# 명칭 기반 인덱싱에서 슬라이싱은 종료값도 포함한다.
data_df.loc[1, 'Year']

2016

## **6. 정렬, Aggregation, GroupBy**
- 정렬 : sort_values(by=[ 칼럼 이름,... ],  ascending=True)
- Aggregation : DataFrame이 특정 칼럼들만을 추출해 적용한다.
    - aggregation 함수들 : min( ), max( ), sum( ), count( )
    - ex) t_df[ [ 'Age' ,  'Fare' ] ].mean( )
- Groupby : 원하는 칼럼을 기준으로 그룹화하기
    - **다양한 사용법들**
    - dataFrame.groupby('칼럼')[ 다른 칼럼, ... ].count()
    - dataFrame.groupby('칼럼')[ 다른 칼럼 ].agg( [ max, min ] )
    - dataFrame.groupby('칼럼').agg( { '칼럼1' : 'min',  '칼럼2' : 'max' } )

In [59]:
# (1) 정렬

titanic_sorted = t_df.sort_values(by=['Name'])
titanic_sorted.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.55,NaN,S
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.25,NaN,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.25,NaN,S

In [60]:
titanic_sorted = t_df.sort_values(by=['Pclass', 'Name'], ascending=False)
titanic_sorted.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5,NaN,S
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,345778,9.5,NaN,S

In [61]:
# (2) aggregation

t_df[['Age', 'Fare']].mean()

Age     29.699118
Fare    32.204208
dtype: float64

In [69]:
# (3) groupby()
# : 원하는 칼럼을 기준으로 나눌 수 있다.
t_groupby = t_df.groupby(by='Pclass')
t_groupby.count()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,,,,,,,,,,,
1,216,216,216,216,186,216,216,216,216,176,214
2,184,184,184,184,173,184,184,184,184,16,184
3,491,491,491,491,355,491,491,491,491,12,491

In [72]:
# groupby 이후에 인덱스 선택을 통해 원하는 칼럼만 가져와 원하는 변수 간의 관계를 파악할 수 있다.
t_groupby = t_df.groupby('Pclass')[['PassengerId', 'Survived']].count()
t_groupby

        PassengerId  Survived
Pclass
1               216       216
2               184       184
3               491       491

In [76]:
t_df.groupby('Pclass')['Age'].agg([max, min])

         max   min
Pclass
1       80.0  0.92
2       70.0  0.67
3       74.0  0.42

In [77]:
agg_format = {'Age':'max', 'SibSp':'sum', 'Fare':'mean'}
t_df.groupby('Pclass').agg(agg_format)

         Age  SibSp       Fare
Pclass
1       80.0     90  84.154687
2       70.0     74  20.662183
3       74.0    302  13.675550

## **7. 결손 데이터 처리**

- dataFrame.isna() >> True : null 값
- dataFrame.isna().sum() >> 각 칼럼에 대한 null 값 갯수
- dataFrame[ '칼럼1' ] = dataFrame[ '칼럼1' ].fillna('C000')
    - 결측치는 평균값으로 할 수도 있고, 특정 문자열로 정해서 사용할 수도 있다.

In [80]:
t_df.isna().head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False

In [81]:
t_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [85]:
t_df['Cabin'] = t_df['Cabin'].fillna('C000') # 원본값도 수정하려면 fillna 인자에 inplace=True 추가
t_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,C000,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,C000,S

## **8. apply lambda 식으로 데이터 가공**

- 람다 : 함수 선언과 함수 내의 처리를 한 줄의 식으로 간단히 변환한 식
    - 형태 : lambda (입력 인자) : (입력 인자를 기반으로 한 계산식)
    - 데이터프레임의 원하는 칼럼에 대하여 **DataFrame[ 'col1' ].apply(람다식)** 을 통해 적용할 수 있다.

In [88]:
lambda_square = lambda x : x ** 2
print(lambda_square(3))

9

In [92]:
t_df['Name_len'] = t_df['Name'].apply(lambda x : len(x))
t_df[['Name', 'Name_len']].head(3)

                                                Name  Name_len
0                            Braund, Mr. Owen Harris        23
1  Cumings, Mrs. John Bradley (Florence Briggs Th...        51
2                             Heikkinen, Miss. Laina        22